<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>com.jt.sd.controller.CharacterFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SystemContextFilter</filter-name>
		<filter-class>com.jt.sd.controller.SystemContextFilter</filter-class>
		<init-param>
			<param-name>pageSize</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SystemContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.jt.sd.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>dreamServlet</servlet-name>
		<servlet-class>com.jt.sd.controller.DreamController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dreamServlet</servlet-name>
		<url-pattern>/dream/*</url-pattern>
	</servlet-mapping>
</web-app>
